@import '../../../index';
%inputField {
    input {
      @include input($background-color1, $text-color3);
      border: 0 !important;
      border-radius: 0 !important;
      border-bottom: 1px solid #ececec !important;
      height: 25px;
      padding: 0 10px !important;
      text-align: center;
      &[readonly] {
        border-bottom: 1px solid transparent !important;
      }
    }
  }

  .transferContainer {
    align-content: center;
    align-items: center;
    background-color: $background-color1;
    display: inline-flex !important;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    padding: 50px 50px 0px;
    width: 100% !important;
    overflow: auto;
    .transferContainerHeader {
      margin: 0 0 30px 0;
      h2 {
        @include title;
      }
    }
    .transferContainerBody {
      align-content: center;
      background-color: $background-color1;
      // border-radius: 3px;
      // box-shadow: 0 10px 25px 0 rgba(232, 173, 173, 0.32);
      display: flex;
      flex-direction: column;
      margin-bottom: 50px;
      min-height: 400px;
      justify-content: space-between;
      padding: 25px;
      text-align: center;
      width: 550px;
      .containerHeader {
        .titleField {
          margin-bottom: 40px;
          right: -5%;
          @extend %inputField;
        }
      }
      .containerBody {
        .normal-field {
          box-shadow: 0 2.5px 7px 0 rgba(232, 173, 173, 0.18);
          margin: 20px 0;
          border: solid 1px $input-border-color !important;
          border-radius: 2px;
          label {
            align-items: center;
            background-color: $label-background-color;
            // border: solid 1px $input-border-color !important;
            // border-radius: 2px 0 0 2px;
            border-right: 0 !important;
            color: $text-color1;
            display: flex;
            height: 50px;
            padding: 0 8px;
            width: 150px;
            justify-content: space-between;
          }
          input {
            @include input($background-color1, $text-color3);
            border-left: 0 !important;
            // border-radius: 0 2px 2px 0 !important;
            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus {
              border-left: 0 !important;
            }
            &[id='password'] {
              border-radius: 0 !important;
              border-right: 0 !important;
              &:focus {
                border-right: 0 !important;
              }
              &:-webkit-autofill,
              &:-webkit-autofill:hover,
              &:-webkit-autofill:focus {
                border-right: 0 !important;
              }
            }
          }
          .show-password-btn {
            background-color: $background-color1 !important;
            border: solid 1px $input-border-color !important;
            border-left: 0 !important;
            border-radius: 0 2px 2px 0 !important;
            color: $success-color;
            cursor: pointer;
            height: 50px;
            &:hover,
            &:active,
            &:focus {
              background-color: $background-color1;
              border-left: 0 !important;
              color: $success-color;
            }
          }
        }
        .error-field {
          border: 2px solid $failure-color !important;
        }
        .botAvatarWrapper {
          position: relative;
          .botAvatar {
            cursor: pointer;
            border: 2px dashed #e3e6f7;
            border-radius: 50%;
            height: 115px;
            padding: 5px;
            width: 115px;
          }
          .changeAvatarButton {
            background-color: transparent !important;
            border-radius: 100% !important;
            height: 40px;
            left: 66%;
            padding: 0 !important;
            position: absolute;
            top: 65%;
            transition: 0.3s;
            width: 40px;
            img {
              cursor: pointer;
              margin-top: -7px;
              margin-left: -5px;
              min-width: 50px;
            }
            &:hover {
              background-color: $secondary-color !important;
            }
          }
        }
        .nameField {
          margin-top: 25px;
          width: 120px;
          @extend %inputField;
          input {
            font-size: 22px !important;
            height: 35px;
          }
        }
      }
      .containerFooter {
        margin: 0 !important;
        position: relative;
        // span {
        //   opacity: 0.36;
        //   color: #193651;
        // }
        .error-message {
          color: $failure-color;
          display: block;
          position: absolute;
          top: -30px;
          width: 100%;
          text-align: center;
        }
        .success-message {
          color: $success-color;
          display: block;
          position: absolute;
          top: -30px;
          width: 100%;
          text-align: center;
        }
        .accept-btn {
          @include button($success-color, $text-color2);
          font-size: 16px !important;
          margin-bottom: 25px !important;
          height: 55px;
          width: 120px;
        }
        .cancel-btn {
          @include button($primary-color, $text-color2);
          font-size: 16px !important;
          margin-bottom: 25px !important;
          margin-right: 10px !important;
          height: 55px;
          width: 120px;
        }
        .messageWrapperLeft {
          align-items: center;
          border-radius: 0 0 10px 0;
          display: flex;
          font-size: 16px !important;
          justify-content: flex-start;
          padding: 10px;
          text-align: left;
          &:after {
            border: 4px solid;
            border-top-color: inherit;
            border-right-color: transparent;
            border-bottom-color: transparent;
            border-left-color: inherit;
            content: "";
            height: 0;
            left: 0;
            position: absolute;
            right: 26px;
            top: 100%;
            width: 0;
          }

          span {
            opacity: 1 !important;
          }

        }
        .messageWrapperRight {
          align-items: center;
          border-radius: 0 0 0 10px;
          display: flex;
          font-size: 16px !important;
          justify-content: flex-end;
          padding: 10px;
          opacity: 1 !important;
          &:after {
            border: 4px solid;
            border-top-color: inherit;
            border-right-color: inherit;
            border-bottom-color: transparent;
            border-left-color: transparent;
            content: "";
            height: 0;
            position: absolute;
            right: 0;
            top: 100%;
            width: 0;
          }

          span {
            opacity: 1 !important;
          }
        }
        .colorPattern {
          align-items: center;
          border: 2px dashed #d9ddff;
          border-radius: 4px;
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          padding: 0 !important;
          .pattern {
            border: 1px solid #d9ddff;
            border-radius: 4px;
            cursor: pointer;
            height: 31px;
            margin: 5px 0;
            width: 31px;
          }
        }
      }
    }
    .inputClass {
      position: fixed;
      z-index: 1;
      display: none;
    }
  }

  .colorPicker {
    @include tooltip(bottom);
    padding: 0 !important;
    &:before {
      box-shadow: 1px 1px 0 0 rgba(216, 221, 255, 0.5) !important;
    }
    & > div {
      background: none !important;
      border-radius: 0 !important;
      box-shadow: none !important;
    }
  }

  .editButton {
    background-color: transparent !important;
    border-radius: 100% !important;
    height: 25px;
    margin: auto !important;
    padding: 0 !important;
    transition: 0.3s;
    width: 25px;
    img {
      cursor: pointer;
      margin-top: -11px;
      margin-left: -12px;
      min-width: 50px;
    }
    &:hover {
      background-color: $secondary-color !important;
    }
  }

  ////////////////////
  .integrationSettingContainer {
    align-content: center;
    align-items: center;
    background-color: $background-color1;
    display: inline-flex !important;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    padding: 50px 40px;
    width: 100% !important;
    .integrationSettingContainerHeader {
      margin: 0 0 50px 0;
      h2 {
        @include title;
      }
    }
    .integrationSettingContainerBody {
      width: 100%;
      .channel {
        width: 100%;
        &>div {
          width: 100%;
          &:first-child {
            margin: 0 !important;
            display: flex;
            justify-content: center;
          }
        }
        .normalChannel {
          align-items: center;
          background-color: #fffdfd !important;
          border-radius: 3px !important;
          display: flex;
          height: 140px;
          justify-content: center;
          margin: 0 22px 24px 0;
          width: 219px;
          &:last-child {
            margin-right: 0;
          }
          .channelName {
            color: #512424 !important;
            font-size: 18px !important;
            text-align: center;
            .channelIcon {
              display: flex;
              justify-content: space-around;
              margin: 0 0 10px 0;
            }
            .channelStatus {
              color: $failure-color;
              line-height: 1.79;
              text-align: center;
            }
            .activeChannel {
              color: $success-color;
            }
          }
          &:hover {
            background-color: $background-color1 !important;
            border: 1px solid rgba(255, 216, 216, 0.5) !important;
            box-shadow: 0 5px 14px 0 rgba(232, 173, 173, 0.18) !important;
          }
        }
        .activeTab {
          background-color: $background-color1 !important;
          border: 1px solid rgba(255, 216, 216, 0.5) !important;
          box-shadow: 0 5px 14px 0 rgba(232, 173, 173, 0.18) !important;
        }
        .channelContent {
          border: 0 !important;
          box-shadow: none !important;
          padding: 0 !important;
          .statistic-table {
            border: 0 !important;
            border-collapse: collapse;
            color: $text-color4 !important;
            thead {
              tr {
                height: 50px;
                th {
                  background-color: $border-color;
                  color: $text-color4 !important;
                  border-bottom: 0 !important;
                  color: #5a5a5a;
                  // border-left: 1px solid $border-color;
                  padding-left: 14px !important;
                  &:first-child {
                    border-left: 0;
                    padding-left: 50px !important;
                  }
                  img {
                    height: 38px;
                    margin: 0 7px 0 -38px;
                    width: 38px;
                  }
                }
              }
            }
            tbody {
              tr {
                border-bottom: 3px solid transparent !important;
                display: table-row !important;
                height: 50px;
                &:nth-child(odd) {
                  background-color: $background-color1 !important;
                }
                &:nth-child(even) {
                  background-color: $secondary-color !important;
                }
                &:hover {
                  border-bottom: 3px solid #f2dbdb !important;
                  & .showOptionsButton,
                  & .insertRowBelowButton {
                    display: block !important;
                  }
                }
                &:last-child {
                  & .insertRowBelowButton {
                    display: none !important;
                  }
                }
                .showOptionsButton {
                  background-color: transparent;
                  border-radius: 2px;
                  display: none;
                  height: 20px;
                  padding: 0 !important;
                  width: 16px;
                  &:active,
                  &:hover,
                  &:focus {
                    border: 1px solid #d9ddff;
                    display: block;
                  }
                }
                .addRowButton {
                  position: absolute;
                }
                td {
                  border-top: 0 !important;
                  // border-left: 1px solid $border-color;
                  padding: 14px !important;
                  .delete-btn {
                    @include button($primary-color, $text-color2);
                    font-weight: $font-semibold !important;
                    height: 35px;
                    width: 80px;
                    text-transform: initial;
                  }
                  .address-block {
                    white-space: nowrap; 
                    width: 240px; 
                    overflow: hidden;
                    text-overflow: ellipsis; 
                    span {
                      font-weight: $font-bold !important;
                    }
                    a {
                      color: $success-color;
                    }
                  }
                  &:first-child {
                    display: flex;
                    // border-left: 0;
                    .order {
                      color: $primary-color;
                      margin: 0 20px 0 8px;
                    }
                  }
                  &:last-child {
                    // border-right: 1px solid $border-color;
                  }
                }
              }
            }
            tfoot {
              tr {
                height: 40px;
                th {
                  background-color: $background-color1;
                  border-top: 0;
                  padding: 0 !important;
                  img {
                    cursor: pointer;
                  }
                }
              }
            }
          }
        }
      }
  
      .inputContainer {
        align-items: center;    
      }
      b {
        font-weight: 600 !important;
      }
    }
  }

  .popup-message {
    border: 0 !important;
    .message-header {
      background-color: $primary-color !important;
      color: $text-color2 !important;
      font-size: 20px !important;
      border-bottom: 0 !important;
    }
    .message-body {
      .normal-field {
        box-shadow: 0 2.5px 7px 0 rgba(232, 173, 173, 0.18);
        margin: 5px 0 20px 0;
        border: solid 1px $input-border-color !important;
        border-radius: 2px;
        label {
          align-items: center;
          background-color: $label-background-color;
          // border: solid 1px $input-border-color !important;
          // border-radius: 2px 0 0 2px;
          border-right: 0 !important;
          color: $text-color1;
          display: flex;
          height: 50px;
          padding: 0 8px;
          width: 150px;
          justify-content: space-between;
        }
        input {
          @include input($background-color1, $text-color3);
          border-left: 0 !important;
          // border-radius: 0 2px 2px 0 !important;
          &:-webkit-autofill,
          &:-webkit-autofill:hover,
          &:-webkit-autofill:focus {
            border-left: 0 !important;
          }
          &[id='copy-input'] {
            border-right: 0 !important;
            &:focus {
              border-right: 0 !important;
            }
            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus {
              border-right: 0 !important;
            }
          }
        }
        .copy-btn {
          background-color: $background-color1 !important;
          border-left: 0 !important;
          color: $success-color;
          cursor: pointer;
          height: 50px;
          &:hover,
          &:active,
          &:focus {
            background-color: $background-color1;
            border-left: 0 !important;
            color: $success-color;
          }
        }
      }
    }
    .message-footer {
      border-top: 0 !important;
      background-color: $secondary-color !important;
      .submit-btn {
        @include button($success-color, $text-color2);
        height: 35px;
        width: 80px;
      }
    }
  }